<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="profiles">
    <h2>User profiles</h2>

    <% if (profiles.length > 0) { %>
      <% profiles.forEach(profile => { %>

        <h3 class="name">Name: <%= profile.name %></h3>
        <p class="email">Email: <%= profile.email %></p>
        <p class="gender">Gender: <%= profile.gender %></p>
        <p class="location">Location: <%= profile.location %></p>
        <button>Delete</button>
        <br><br>

      <% }) %>
    <% } else { %>
      <p>There are no profiles to display. Add one <a href="/new-profile">[here]</a></p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
